$color-primary:#BDA2A2;
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Assistant:wght@200&family=Maven+Pro:wght@500&family=Quicksand:wght@300;400&family=Varta:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trispace', sans-serif;
}


html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

#cartWidget {
    display: flex;
    justify-content: center;
}

.threeDots {
    height:80;
    width:80;
    radius:9;
    color:black;

}

header {
    background-color: $color-primary;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 10px $color-primary;
    padding: 0.5rem 1rem;

    a {
        text-decoration: none;
        color: white;
        display: inline-block;
        border: 2px #faf5c8;
        padding: 15px 30px;
        font-size: 16px;

        &:hover {
            color: black;

        }

    }
}

main {
    flex-grow: 1;
    padding: 1rem;
}

footer {
    background-color: $color-primary;
    padding: 1rem;
    text-align: center;
}